<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<%= @options.charset %>">
  <title><%= h @options.title %></title>
</head>
<frameset cols="20%,*">
  <frame name="indexFrame" src="indexes.html">
  <frame name="mainFrame" src="<%= @first_page.path %>">
</frameset>
</html>
