<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=<%= @options.charset %>" />
  <title><%= h @options.title %></title>
</head>
<frameset cols="20%,*">
  <frame name="indexFrame" src="indexes.html" />
  <frame name="mainFrame" src="<%= @first_page.path %>" />
</frameset>
</html>
